*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #B4F8C8;
}

h1{
    text-align: center;
    margin-top: 40px;
    background-color: aliceblue;
}

.container{
    display: flex;
    
    height: 100vh;
    /* border: 1px solid black; */
    flex-direction: column;
    text-align: center;
    min-width: 300px;
    justify-content: center;
    align-items: center;
    background-color: #B4F8C8;
}

.wrapper{
    margin-bottom: 140px;
    background-color: #FFAEBC;
    padding: 24px 0;
    border-radius: 8px;
    /* border: 1px solid black; */
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 10px 9px 28px rgb(122 100 100);
}

.input-row{
    margin: 10px 5px;
}

.input{
    width: 80%;
    height: 40px;
    font-size: 29px;
    text-align: end;
    padding: 0 10px 0 0;
    border-radius: 6px;
}

.row{
    margin: 5px;
}

.button{
    padding: 20px;
    width: 54px;
}